:root {
    --primary: #2661D8;
    --secondary: #0F3447;
    --accent: #FFCD32;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }

  header {
    width: 100vw;
    height: 60px;

    background: var(--primary);
    color: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h1 {
    background: white;
    padding: 0 5px;
    border-radius: 10px;
  }

  #home {
    padding: 20px;
    background: rgba(0, 0, 0, .8);
    color: white;
  }

  #home p {
    margin-top: 25px;
  }

  a {
    text-decoration: none;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    width: 10em;
    text-align: center;

    margin-top: 20px;
  }

  a:first-child {
    background: var(--primary);
    color: white;
  }

  a:last-child {
    background: var(--accent);
    color: var(--secondary);

    margin-top: 20px;
  }